@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali&display=swap");
.main-bg {
  background-color: #f2e9d9;
}
* {
  font-family: "Noto Serif Bengali", serif;
}
img.cart-icon {
  width: 50px;
}
.font-size14px {
  font-size: 14px;
}

.border-left-right {
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.max-width-search-nav {
  max-width: 550px;
}
img.search-icon {
  width: 53px;
}
.navbar-link {
  border: 2px solid;
 
  border-bottom: 0;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
 color: dark;
}
.active-link {
  border-bottom: 2px solid red;
}

.social-container {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 20px;
  text-align: left;
  width: 259px;
}

.carousel-item .text-container {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  padding: 20px;
  text-align: right;
  width: 259px;
}
.banner-details {
  background-color: #ede78e;
}
.click-btn {
  background-color: #bfd851;
  width: 85%;
}

/* social */

.fa-facebook {
  background: #3b5998;
  color: white;
  transition: all 0.3s ease;
  width: 40px;
}
.fa-facebook:hover {
  width: 100px;
  transform: scale(1.2);
}

/* পুথিপ্রকাশ কার্য সমগ */

.btn-details {
  border: 1px solid salmon;
}

p.book-badge {
  background: #7d60a9;
  width: 80px;
  left: -20px;
  top: 5px;
  border-radius: 4px;
}
p.book-badge2 {
  background: #7d60a9;
  width: 125px;
  left: 25px;
  top: 4px;
  border-radius: 4px;
}
.line {
  width: 100px;
  margin: auto;
  margin-top: -8px;
  opacity: 1;
  border: 2px solid #ef5940 !important;
}

.book-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.book-details {
  position: relative;
}

.book-cover {
  width: 135px;
  transition: width 0.3s ease;
}

.book-details:hover .book-cover {
  width: 180px;
}

.book-category-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  z-index: 1;
}
img.client-logo {
  width: 130px;
  height: 130px;
}

.client {
  box-shadow: -1px 1px 9px 6px rgba(241, 224, 195, 1);
  -webkit-box-shadow: -1px 1px 9px 6px rgba(241, 224, 195, 1);
  -moz-box-shadow: -1px 1px 9px 6px rgba(241, 224, 195, 1);
}

.footer {
  background-image: url("https://static.vecteezy.com/system/resources/thumbnails/001/850/045/small/old-book-opening-free-photo.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 300px;
}

/* Category */
.category-logo {
  width: 100px;
  height: 100px;
}
.category-logo:hover {
  border: 3px solid #ec5b40;
  box-shadow: 0px 0px 27px -3px rgba(236, 91, 64, 0.75);
  -webkit-box-shadow: 0px 0px 27px -3px rgba(236, 91, 64, 0.75);
  -moz-box-shadow: 0px 0px 27px -3px rgba(236, 91, 64, 0.75);
}

.category-filter {
  box-shadow: 0px 0px 7px 12px rgba(250, 207, 208, 1);
  -webkit-box-shadow: 0px 0px 7px 12px rgba(250, 207, 208, 1);
  -moz-box-shadow: 0px 0px 7px 12px rgba(250, 207, 208, 1);
}

.category-book {
  background-color: #eaeaea;
}
.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.category-box {
  box-shadow: 0px 0px 7px 12px rgba(250, 207, 208, 1);
  -webkit-box-shadow: 0px 0px 7px 12px rgba(250, 207, 208, 1);
  -moz-box-shadow: 0px 0px 7px 12px rgba(250, 207, 208, 1);
}
.discount-text.position-absolute {
  top: -28px;
  white-space: nowrap;
  font-size: 15px;
}
.cart-views-btn button {
  font-size: 10px;
}

/*  */
.cart-views-btn {
  display: none;
}

.cart-views-btn {
  display: none;
}

.current-price {
  margin-bottom: 7px;
  font-size: 15px;
}
.pre-price {
  margin-bottom: 7px;
  font-size: 13px;
}

/* pagination */

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #ab4041;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.work-on-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 83px;
}

.work-on-container div {
  background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff, #e1f3ff, #e1f3ff);
  /* box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.75); */
}

.work-on-container div img {
  width: 260px;
  height: 221px;
}






/* @media screen  */

@media screen and (max-width: 570px) {
  .work-on-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 83px;
  }
}